.father{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

}
.father>p{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    align-items: center;
    width: 80%;
    text-align: center;
}
.father>p>span{
    flex-direction: column;
    text-align: center;
    align-self: center;
    align-content: center;
}
.father>p>span:nth-child(1):hover{
   background-color: white;
   color: blueviolet;
}
.father>p>span:nth-child(2):hover{
    background-color:darkorange;
    color:darkslategray;
 }
 .father>p>span:nth-child(3):hover{
    background-color:dimgray;
    color:white;
 }